@font-face {
    font-family: 'Poppinsb';
    src: url('../fonts/robo/Poppins-Bold.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Poppinsbi';
    src: url('../fonts/robo/Poppins-BoldItalic.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Poppinsi';
    src: url('../fonts/robo/Poppins-Italic.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'Poppinsr';
    src: url('../fonts/robo/Poppins-Regular.woff') format('woff');
    font-style: normal;
}
